:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/*font-family: 'Barlow', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/*font-family: 'Fraunces', serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('images/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    min-width: 100%;
    padding: 3rem 2rem;
}

nav img {
    max-width: 10rem;
    width: 100%;
}

.hamburguer {
    display: none;
    opacity: 0;
}

.hide {
    display: none;
    opacity: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.links a {
    font-size: 21px;
    color: var(--white);
    transition: .5s all ease;
    cursor: pointer;
}

.links a:hover {
    color: var(--dark-desaturated-cyan);
    transform: scale(80%);
}

.btn_primary {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 16px;
    border: none;
    background-color: var(--white);
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    transition: .5s all ease;
    cursor: pointer;
}

.btn_primary:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--white);
    transform: scale(95%);
}

.btn_secondary {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 16px;
    border: none;
    background-color: var(--yellow);
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    transition: .5s all ease;
    cursor: pointer;
}

.btn_secondary:hover {
    background-color: hsla(51, 100%, 49%, 0.3);
    color: var(--very-dark-grayish-blue);
    transform: scale(95%);
}

.header_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    color: var(--white);
    height: 100vh;
    padding-bottom: 28rem;
}

.icon_arrow {
    position: absolute;
    top: 45%;
    max-width: 2.5rem;
}

.about {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
}

.transform,
.stand_out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 50%;
    height: 45rem;
    gap: 3rem;
}

.text h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 3rem;
    color: var(--very-dark-desaturated-blue);
    width: 28.8rem;
}

.text p {
    font-family: 'Barlow', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 18px;
    line-height: 2rem;
    width: 28.8rem;
}

.text a {
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .3rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
    width: 28.8rem;
    z-index: 1;
}

.text a::after {
    content: "";
    position: absolute;
    top: 1.7rem;
    left: -.5rem;
    max-width: 40%;
    max-height: 20%;
    width: 100%;
    height: 100%;
    background-color: hsla(51, 100%, 49%, 0.3);
    border-radius: 3rem;
    z-index: -1;
    transition: .5s all ease;
}

.text a:hover::after {
    background-color: var(--yellow);
    transform: scaleX(110%);
}

.stand_out .text a::after {
    background-color: hsla(7, 99%, 70%, 0.3);
}

.stand_out .text a:hover::after {
    background-color: var(--soft-red);
    transform: scaleX(110%);
}

.transform .image {
    display: flex;
    background-image: url('/Sunnyside Landing Page/images/image-transform.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 45rem;
}

.stand_out .image {
    display: flex;
    background-image: url('/Sunnyside Landing Page/images/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 45rem;
}


.graphic_photography {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.graphic_design {
    position: relative;
    background-image: url('/Sunnyside Landing Page/images/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 45rem;
}

.photography {
    position: relative;
    background-image: url('/Sunnyside Landing Page/images/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 45rem;
}

.text_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 3rem;
    padding-bottom: 5rem;
}

.text_bottom h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 3rem;
    color: var(--very-dark-desaturated-blue);
    max-width: 25rem;
}

.text_bottom p {
    font-family: 'Barlow', sans-serif;
    color: var(--very-dark-desaturated-blue);
    font-size: 18px;
    line-height: 2rem;
    max-width: 25rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem;
    gap: 5rem;
}

.services h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--grayish-blue);
}

.clients_container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.client img {
    max-width: 5rem;
    border-radius: 50%;
}

.client p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 2rem;
    color: var(--very-dark-desaturated-blue);
    max-width: 22.5rem;
}

.name p:nth-child(1) {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 26px;
    color: var(--very-dark-desaturated-blue);
}

.name p:nth-child(2) {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--grayish-blue);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects div {
    display: flex;
    width: 100%;
}

.projects img {
    object-fit: cover;
    width: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
    background-color: var(--dark-moderate-cyan);
    position: relative;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 14px;
    color: var(--dark-desaturated-cyan);
}

.info p {
    transition: .5s all ease;
    cursor: pointer;
}

.info p:hover {
    color: var(--grayish-blue);
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-top: 3rem;
}

.social path {
    transition: .5s all ease;
    cursor: pointer;
}

.social svg:hover path {
    fill: var(--grayish-blue);
}

.attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1000px) {
    header {
        background-image: url('images/mobile/image-header.jpg');
    }

    nav {
        padding: 3rem 2rem;
    }

    .hamburguer {
        display: flex;
        max-width: 3rem;
        width: 100%;
        opacity: 1;
    }

    .links_hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        padding: 2.5rem 6rem;
        gap: 2rem;
        position: relative;
        opacity: 1;
        transition: .5s all ease;
        z-index: 1;
    }

    .links_hamburguer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--very-dark-grayish-blue);
    }

    .links_hamburguer::before {
        content: "";
        width: 0;
        height: 0;
        border: 25px solid;
        border-color: transparent var(--white) var(--white) transparent;
        position: absolute;
        top: -1.5rem;
        right: 0;
    }

    .links {
        display: none;
    }

    h1 {
        position: absolute;
        top: 10%;
        font-size: 48px;
    }

    .transform,
    .stand_out {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        max-width: 100%;
        min-height: 35rem;
        width: 100%;
        height: 100%;
        gap: 2rem;
        padding: 0;
        margin: 0;
        text-align: center;
        order: 2;
    }

    .text h2 {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 50px;
        line-height: 3rem;
        color: var(--very-dark-desaturated-blue);
        max-width: 28.8rem;
        width: 90%;
        height: 100%;
        text-align: center;
    }

    .text p {
        font-family: 'Barlow', sans-serif;
        color: var(--dark-grayish-blue);
        font-size: 18px;
        line-height: 2rem;
        max-width: 28.8rem;
        width: 90%;
        height: 100%;
        text-align: center;
    }

    .text a {
        position: relative;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .3rem;
        line-height: 3rem;
        text-transform: uppercase;
        color: var(--very-dark-desaturated-blue);
        max-width: 28.8rem;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: center;
    }

    .text a::after {
        top: 1.7rem;
        left: 8rem;
    }

    .transform .image {
        display: flex;
        background-image: url('/Sunnyside Landing Page/images/mobile/image-transform.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
        order: 1;
    }

    .stand_out .image {
        display: flex;
        background-image: url('/Sunnyside Landing Page/images/mobile/image-stand-out.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
    }


    .graphic_photography {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .graphic_design {
        position: relative;
        background-image: url('/Sunnyside Landing Page/images/mobile/image-graphic-design.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
    }

    .photography {
        position: relative;
        background-image: url('/Sunnyside Landing Page/images/mobile/image-photography.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 45rem;
    }

    .text_bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        height: 100%;
        gap: 3rem;
        padding-bottom: 5rem;
    }

    .text_bottom h2 {
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
        font-size: 35px;
        line-height: 3rem;
        color: var(--very-dark-desaturated-blue);
        max-width: 25rem;
    }

    .text_bottom p {
        font-family: 'Barlow', sans-serif;
        color: var(--very-dark-desaturated-blue);
        font-size: 18px;
        line-height: 2rem;
        max-width: 25rem;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 5rem;
    }

    .services h2 {
        font-family: 'Fraunces', serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: var(--grayish-blue);
        text-align: center;
    }

    .clients_container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .client {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .client p {
        max-width: 95%;
    }

    .name p:nth-child(1) {
        max-width: 100%;
    }

    .name p:nth-child(2) {
        max-width: 100%;
    }

    .projects {
        flex-direction: row;
        width: 100%;
    }

    .projects div {
        flex-direction: column;
        width: 50%;
    }

    .projects img {
        width: 100%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 0;
        background-color: var(--dark-moderate-cyan);
        position: relative;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 14px;
        color: var(--dark-desaturated-cyan);
    }

    .info p {
        transition: .5s all ease;
        cursor: pointer;
    }

    .info p:hover {
        color: var(--grayish-blue);
    }

    .social {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding-top: 3rem;
    }

    .social path {
        transition: .5s all ease;
        cursor: pointer;
    }

    .social svg:hover path {
        fill: var(--grayish-blue);
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 30px;
    }
}
